[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/vim-notes"]
	path = vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/phpcomplete-vim"]
	path = vim/bundle/phpcomplete-vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
